extends layout

block main
  #content
    if collections.content && collections.content.length > 0
      each post in collections.content
        h2
          a(href='/'+post.path)!= post.title
        div!= post.excerpt
    else
      h2= collections.content.length
      h2 there ain't anything here, man
